@model IEnumerable<Assignment1.DAL.Models.Cashier>

@{
    ViewData["Title"] = "ShowCashiers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowCashiers</h1>

<p>
    <a asp-action="NewCashier">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CashierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CashierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCashier", new {id=item.CashierId }) |
                @Html.ActionLink("Delete", "DeleteCashier", new { id = item.CashierId }, new { onclick = "return confirm('Are you sure you want to delete this item?');" })
            </td>
        </tr>
}
    </tbody>
</table>
